/* Ubi Stylesheet */
html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  color: #292929;
  font: 14px/25px Arial, Helvetica, sans-serif;
}

a {
  color: #7c9385;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.body-wrapper {
  width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
}

header {
  position: relative;
  height: 150px;
  background-color: #eeeeee;
}

header #logo {
  position: absolute;
  top: 40px;
  left: 30px;
  width: 200px;
}

header nav {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 37px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  position: relative;
  float: left;
  padding: 6px 5px 0px 5px;
}

header nav ul li a {
  font-size: 15px;
  line-height: 16px;
  color: #7c9385;
  display: block;
  padding: 30px 10px 6px 10px;
  margin-bottom: 5px;
  z-index: 6;
  position: relative;
  font-weight: bold;
}

header nav ul li:hover a {
  color: lightcoral;
}

.feature {
  margin: 20px;
  background-color: #eeeeee;
  border: #7eb18d 1px solid;
}

.content-wrapper {
  background: #eeeeee;
  border-bottom: 5px solid #eeeeee;
}

.main-content {
  padding: 0 10px;
}

.main-content article {
  overflow: hidden;
  margin: 10px 20px 20px 20px;
  background: white;
  border: #7eb18d 1px solid;
  border-radius: .5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-content .content img {
  float: left;
  margin: 3px 15px 0px 20px;
}

.main-content .content h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: bolder;
  font-family: Georgia, Helvetica, sans-serif;
  padding: 0 0 0 20px;
}

.main-content .content p {
  color: #292929;
  margin: 0 10px 15px 20px;
  overflow: hidden;
}

.main-content .content a {
  display: block;
  margin: 10px 0 15px 0;
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
}

.main-content .content a:hover {
  color: lightcoral;
}

.mid-bar {
  background: #eeeeee;
  margin: 30px 20px 0px 20px;
}

.mid-bar .heading {
  color: #747472;
  background: #b7d0be;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  padding: 4px 10px;
  font-family: Georgia, Helvetica, sans-serif;
  margin: 0px 250px 15px 250px;
  border-radius: 2rem;
  -webkit-box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.mid-bar .content {
  padding: 15px;
  background-color: #eeeeee;
}

.mid-bar .content img {
  float: left;
  margin: 5px;
}

.mid-bar .content h4 {
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 10px 0 10px 70px;
}

.mid-bar .content p {
  margin: 25px 5px 0 10px;
}

.bottom-bar {
  background: #eeeeee;
  margin: 30px 10px 0px 10px;
}

.bottom-bar .heading {
  color: #747472;
  background: #b7d0be;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  padding: 4px 10px;
  font-family: Georgia, Helvetica, sans-serif;
  margin: 0px 150px 10px 150px;
  border-radius: .75rem;
  -webkit-box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.bottom-bar .content {
  padding: 15px;
  color: #292929;
  background-color: #eeeeee;
  text-align: justify;
}

footer {
  background: #b7d0be;
  border-radius: .5rem;
  padding: 1rem;
  -webkit-box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 10px 0;
}

footer .footer-wrapper {
  color: #747472;
  text-decoration: none;
}

footer .heading {
  color: #747472;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

footer .content {
  color: white;
  text-align: center;
}

footer .content img {
  float: left;
  margin: 5px;
  border: white 5px solid;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
}

footer ul li {
  list-style: circle;
  margin-left: 20px;
}

footer ul li a {
  font-size: 14px;
  color: white;
}

footer ul li a:hover {
  color: lightcoral;
  text-decoration: none;
  cursor: pointer;
}

#copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #eeeeee;
  padding: 0px 0px;
  padding-bottom: 40px;
  color: #292929;
}

#contact-container {
  font-weight: 500;
  font-size: 1.05em;
  margin: 5px 5px 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#contact-container::after, #contact-container::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#contact-container .input {
  position: relative;
  margin: 1em 1em 0 1em;
  width: calc(50% - 2em);
  height: 80px;
}

#contact-container .subject {
  width: calc(100% - 2em);
}

#contact-container .message {
  width: calc(100% - 2em);
  height: 200px;
}

#contact-container textarea {
  border: none;
  resize: none;
}

#contact-container .input__field {
  position: absolute;
  margin: 0.8em 0;
  padding: 0.4em;
  width: 100%;
  height: calc(100% - 1.6em);
  border: none;
  border-radius: 0;
  background: #b7d0be;
  color: black;
  font-size: 1.55em;
  font-weight: bold;
  -webkit-appearance: none;
}

#contact-container .input__field:focus {
  /* for box shadows to show on iOS */
  outline: none;
}

#contact-container .input__label {
  position: absolute;
  padding: 0 1em;
  margin: 1.2em 0;
  width: 100%;
  height: calc(100% - 2.4em);
  color: #747472;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#contact-container .input__label-content {
  position: relative;
  display: block;
  padding: 1.5em 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#contact-container .input__label::before, #contact-container .input__label::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7eb18d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#contact-container .input__label::before {
  top: 0;
}

#contact-container .input__label::after {
  bottom: 0;
}

#contact-container .input__field:focus + .input__label .input__label-content, #contact-container .input--filled .input__label-content {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);
}

#contact-container .input__field:focus + .input__label::before, #contact-container .input--filled .input__label::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
}

#contact-container .input__field:focus + .input__label::after, #contact-container .input--filled .input__label::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
}

#contact-container #send-button {
  width: 200px;
  height: 60px;
  margin: 10px 0 0 0;
  background-color: #7eb18d;
  color: black;
  border: 0;
  font-weight: bold;
  font-size: 70.25%;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#contact-container #send-button:hover, #contact-container #send-button:focus {
  outline: 0;
  background-color: lightcoral;
  color: black;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
/*# sourceMappingURL=ubi.css.map */