<footer>
	<div class="footer-wrapper">
		<div class="heading">
			Visit Us on Social Media
		</div>
		<div class="content">
			<div class="social-buttons">
				<a href="https://www.facebook.com/DiscoverUbi" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
					<span class="social-button__inner">
						<i class="fa fa-facebook"></i>
					</span>
				</a>
				<a href="#" class="social-buttons__button social-button social-button--youtube" aria-label="YouTube">
					<span class="social-button__inner">
						<i class="fa fa-youtube"></i>
					</span>
			 	</a>
				<a href="https://www.linkedin.com/company/discoverubi/" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
					<span class="social-button__inner">
				   		<i class="fa fa-linkedin"></i>
				  	</span>
				</a>
				<a href="https://www.instagram.com/discoverubi/" class="social-buttons__button social-button social-button--instagram" aria-label="Instagram">
					<span class="social-button__inner">
						<i class="fa fa-instagram"></i>
					</span>
				</a>
				<a href=" https://twitter.com/DiscoverUbi" class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
				  	<span class="social-button__inner">
				   		<i class="fa fa-twitter"></i>
				  	</span>
				</a>
			</div>
		</div>
	</div>
</footer>

	<div id="copyright">
		<p>Ubi LLC © 2020 &emsp; | 
			&emsp; Cookie Policy &ensp; |
			&ensp; Privacy Policy</p>
	</div>