<header> 
    <div id="logo"><a href="index.html"><img src="images/logo.png"/></a></div>
    <nav>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Our Approach</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="minimenu"><div>MENU</div>
            <select>
                <option>Home</option>
                <option>Our Approach</option>
                <option>Services</option>
                <option>Contact Us</option>
            </select>
        </div>
    </nav>
</header>