<!--
	NEEDED TO WORK:
	<link rel="stylesheet" href="css/zerogrid.css"/>
-->


<div class="mid-bar">
	<div class="heading">Tha Shiznit</div>
	<div class="content">
		<div class="zerogrid">
			<div class="row">
				<div class="col-1-2"><div class="wrap-col">
					<img src="images/thumb5.jpg"/>
					<h4><a href="#">Sample post with, links, paragraphs and comments</a></h4>
					<p>Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus 
						consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.</p>
				</div></div>
				<div class="col-1-2"><div class="wrap-col">
					<img src="images/thumb6.jpg"/>
					<h4><a href="#">This is Just Going To Be Another Test Post</a></h4>
					<p>Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus 
						consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.</p>
				</div></div>
			</div>
			<div class="row">
				<div class="col-1-2"><div class="wrap-col">
					<img src="images/thumb7.jpg"/>
					<h4><a href="#">This Is Going To Be A Decent Length Title With Little Text</a></h4>
					<p>Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus 
						consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.</p>
				</div></div>
				<div class="col-1-2"><div class="wrap-col">
					<img src="images/thumb5.jpg"/>
					<h4><a href="#">Sample post with, links, paragraphs and comments</a></h4>
					<p>Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus 
						consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.</p>
				</div></div>
			</div>
			<div class="row">
				<div class="col-1-2"><div class="wrap-col">
					<img src="images/thumb6.jpg"/>
					<h4><a href="#">This is Just Going To Be Another Test Post</a></h4>
					<p>Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus 
						consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.</p>
				</div></div>
				<div class="col-1-2"><div class="wrap-col">
					<img src="images/thumb7.jpg"/>
					<h4><a href="#">This Is Going To Be A Decent Length Title With Little Text</a></h4>
					<p>Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus 
						consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.</p>
				</div></div>
			</div>
		</div>
	</div>
	<div class="bottom-bar">
		<div class="heading">Some Sort of Content</div>
		<div class="content">
			Something will go here. Something will go there. Something will go somewhere. Something will go nowhere.
			Something will go somewhere. Something will go here. Something will go nowhere. Something will go there.
			Something will go nowhere. Something will go there. Something will go somewhere. Something will go here.
			Something will go there. Something will go here. Something will go nowhere. Something will go somewhere.
			Something will go somewhere. Something will go nowhere. Something will go there. Something will go here.
			Something will go nowhere. Something will go here. Something will go there. Something will go somewhere.
			Something will go somewhere. Something will go here. Something will go nowhere. Something will go there.
			Something will go there. Something will go somewhere. Something will go here. Something will go nowhere. 
		</div>
	</div>
</div>